[MEDIUM] GHSA-jj8c-mmj3-mmgv: authlib 1.6.9

## Vulnerability Detected

- **CVE**: [GHSA-jj8c-mmj3-mmgv](https://nvd.nist.gov/vuln/detail/GHSA-jj8c-mmj3-mmgv)
- **Package**: authlib
- **Current Version**: 1.6.9
- **Fix Version**: 1.6.11
- **Severity**: medium
- **Manifest File**: requirements/development.txt

### Description
### Summary  There is no CSRF protection on the cache feature on most integrations clients.  ### Details In `authlib.integrations.starlette_client.OAuth`, no CSRF protection is set up when using the cache parameter. When _not_ using the cache parameter, the use of SessionMiddleware ties the client to the auth state, preventing CSRF attacks. With the cache, there is no such mechanism. Other integratons have the same issue, it's not just starlette.  The state parameter is taken from the callback URL and the state is fetched from the cache without checking that it is the same client calling the redirect endpoint as was the one that initiated the auth flow.  This issue is documented in RFC 6749 section 10.12: https://datatracker.ietf.org/doc/html/rfc6749#section-10.12  ### PoC - Set up a Starlette integration with a cache - The attacker starts the auth flow up until before the callback URL is followed. - The attacked sends the redirect URL to the victim - The victim now completes the authorisation  ### Impact This impacts all users that use the cache to store auth state.  All users will be vulnerable to CSRF attacks and may have an attacker's account tied to their own. In our specific scenario, this allowed attackers to push invoices into a victim's account, ready to be paid. Very serious.

---
*Auto-generated by Vulnerability Remediation System*